@use "../../styles/mixins" as *;

$cell-size: 3rem;
$font-size: 1.8rem;

.uwp-container {
  @include respond-to(mobile) {
    display: flex;
    justify-content: center;
  }
}

.uwp-table {
  font-family: "JetBrains Mono", serif;
  font-optical-sizing: auto;
  border-collapse: collapse;
  margin: 10px 0;
  font-size: $font-size;
  line-height: calc($font-size / 2);
  text-align: center;

  @include respond-to(mobile) {
    margin-bottom: 2rem;
  }

  &__explanations {
    font-size: calc($font-size / 3);
    line-height: $font-size;

    @include respond-to(mobile) {
      display: none;
    }
  }

  &__tradeCodes {
    padding: 0 $font-size;
  }
}

.uwp-cell {
  border: 1px solid white;
  width: $cell-size;
  height: $cell-size;
  font-weight: bold;
  background: black;
  color: white;

  @include respond-to(mobile) {
    $mobile-cell-size: calc($cell-size / 1.3);

    font-size: calc($font-size / 1.5);
    width: $mobile-cell-size;
    height: $mobile-cell-size;
  }

  &.trade-codes {
    padding: 0 calc($font-size / 2);
    width: auto;
    border-color: black;
    font-size: calc($font-size / 1.3);

    @include respond-to(mobile) {
      display: none;
    }
  }
}

.uwp-dash {
  width: calc($cell-size / 1.5);
  height: calc($cell-size / 1.5);
  font-weight: bold;
  background: black;
  color: white;

  &.tradeCodes--dash {
    @include respond-to(mobile) {
      display: none;
    }
  }
}
