$page-width: 90%;
$max-page-width: 1080px;

$bg-color: #121212;
$primary: #29ceeb;
$primary-alt: #55ceeb;
$secondary: #88a3e8;
$secondary-alt: #5563ff;

$amber: #e7b40a;
$red: #e70808;

$border-color: #444;
$text-color: #ddd;
$header-color: #bbb;
$row-alt: #262626;
$input-bg: #222;

$link-color: #ff7700;

$white: #eaecf0;
$black: #101418;

@mixin respond-to($breakpoint) {
  @if $breakpoint == mobile {
    @media (max-width: 768px) {
      @content;
    }
  }
  @if $breakpoint == tablet {
    @media (max-width: 1024px) {
      @content;
    }
  }
}
