$page-width: 90%;
$max-page-width: 1440px;
// $max-page-width: 1200px;

$bg-color: #121212;
$primary: #27dfff;
$primary-alt: #00bfe0;
$secondary: #646cff;
$secondary-alt: #646cff;

$border-color: #444;
$text-color: #ddd;
$header-color: #bbb;
$row-alt: #1e1e1e;
$input-bg: #222;

$link-color: #ff7700;

$white: #ffffff;
$black: #000000;
