@use "../../styles/mixins" as *;

.jumpTimeTable {
  width: auto;
  border-collapse: collapse;
  border: 0px solid $border-color;
  font-size: 0.9em;
  text-align: center;
  margin-top: 2rem;
  width: 50%;

  @include respond-to(mobile) {
    margin: inherit auto;
    width: 95%;
  }

  th,
  td {
    border: 0;
    width: 50%;
  }

  th {
    font-weight: bold;
    background: black;
    border-bottom: 1.5px solid $primary;

    &.tableTitle {
      font-size: 1.15rem;
      text-transform: uppercase;
      color: $primary;
      font-style: italic;
      font-weight: 400;
      border-bottom: 0;
    }
  }

  td {
    padding: 0.75em;
    // line-height: 3em;
  }

  tr {
    &:nth-child(even) {
      background: $row-alt;
    }
  }
}
