@use "../../styles/mixins" as *;

.jumpTimeTable {
  width: auto;
  border-collapse: collapse;
  border: 0px solid $border-color;
  font-size: 1em;
  text-align: center;
  margin-top: 2rem;
  width: 90%;
  justify-self: center;

  @include respond-to(mobile) {
    margin: inherit auto;
    width: 95%;
  }

  th,
  td {
    border: 0;
    width: 50%;
  }

  th {
    font-weight: bold;
    background: $black;
    border-bottom: 1.5px solid $primary;

    &.tableTitle {
      border-bottom: 0;
    }
  }

  tr {
    &:nth-child(even) {
      background: $row-alt;
    }
  }
}
