@use "../../styles/mixins" as *;

.planet-details {
  display: grid;
  gap: 1rem;
  grid-template-columns: 300px 1fr;
  grid-auto-rows: auto;
  align-items: start;

  width: 100%;
  padding: 1rem;
  text-align: left;

  > * {
    grid-column: 2 / 3;
  }

  &__sidebar {
    margin-top: 1.5rem;
    top: 2.5rem;

    position: sticky;
    align-self: flex-start;
    height: fit-content;
    font-size: 0.9rem;
    grid-column: 1;
    grid-row: 1 / span 20;

    padding: 1rem;

    border: 1px solid $primary;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    width: 250px;

    h2 {
      text-align: center;
      letter-spacing: 0.1em;
    }

    ul {
      padding-left: 0;
    }

    .tableTitle {
      font-size: 1.25rem;
      background-color: $black;
      padding-bottom: 0.5em;
    }

    .starport-table {
      text-align: left;
      border: 0;
      border-collapse: collapse;
      width: 100%;

      tr {
        &:nth-child(odd) {
          background: $row-alt;
        }
      }

      th,
      td {
        vertical-align: top;
        border: 0;
        width: 50%;
      }
    }
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.66rem 0 0;

    h1 {
      margin: 0;
      font-size: 3rem;
    }

    &--uwp {
      display: flex;
      align-items: flex-end;
      justify-content: space-evenly;
      font-size: 1.2rem;

      .uwp-code {
        letter-spacing: 3px;
        margin-right: 1em;
      }
    }
  }

  &__alert-status {
    width: 100%;
    color: $black;
    padding: 0.5em;
    margin: 1rem 0 0.5rem;
    border-radius: 0.5rem;

    // border: 1px;
    // border-style: solid;

    font-size: 1.3rem;
    font-weight: 700;
    text-align: center;

    &.amber {
      border-color: $amber;
      background-color: $amber;
    }

    &.red {
      border-color: $red;
      background-color: $red;
    }

    .amber,
    .red {
      font-style: italic;
      text-transform: uppercase;
      font-weight: 900;
    }

    .amber {
      // color: $amber;
    }

    .red {
      // color: $red;
    }
  }

  &__overview {
    padding: 1rem 0;

    .overview-grid {
      display: grid;
      grid-template-columns: repeat(4, calc(25% - 0.66rem));
      grid-template-rows: repeat(3, auto);
      gap: 0.75rem;
      list-style: none;
      padding: 0;
      margin: 0;

      &__item {
        padding: 0.33rem 1rem;
        border: 2px solid rgba($white, 0.3);
        border-radius: 0.5rem;
        display: flex;
        flex-direction: column;
      }

      &__title {
        font-weight: bold;
        margin-bottom: 0rem;
        font-size: 1rem;
        color: $secondary;
      }

      &__value {
        font-size: 0.9rem;
        line-height: 1.4;
      }
    }
  }

  &__tradeCodes {
    margin-bottom: 3rem;
  }

  &__metrics {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  &__map {
    text-align: center;
    margin: 5em 0 1em;
    width: 90%;
    justify-self: center;

    img {
      max-width: 100%;
    }

    figcaption {
      margin-top: 3em;
      font-size: 1rem;
      color: $secondary;
      font-style: italic;
    }
  }

  &__description,
  &__articles {
    strong {
      color: $secondary;
    }
  }

  &__description {
    &-section {
      margin-bottom: 1rem;

      h2,
      h3 {
        margin-top: 2em;
      }

      p,
      ul,
      ol {
        margin: 0 0 0.5rem;
      }

      ul,
      ol {
        padding-left: 1.5rem;
      }
    }
  }

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    width: 90%;
    grid-template-columns: 1fr;

    &__header {
      flex-direction: column;

      &--uwp {
        justify-content: flex-start;
      }
    }

    &__sidebar {
      position: static;
      width: 90%;
      margin-bottom: 1rem;
    }

    &__alert-status {
      width: 90%;
    }

    &__overview {
      .overview-grid {
        display: grid;
        grid-template-columns: repeat(2, calc(50% - 0.66rem));
        grid-template-rows: repeat(3, auto);
      }
    }

    &__metrics {
      flex-direction: column;
    }

    &__map {
      width: 95%;
      padding: 0;
      margin: 3rem auto;
    }
  }
}
