@use "../../styles/mixins" as *;

.planet-details {
  font-size: 14px;

  &__header {
    padding: 2rem 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: $max-page-width;

    @include respond-to(mobile) {
      padding: 0 0.6rem; // Less padding on smaller screens
      width: 100%;
      // max-width: calc(100vw - 1.2rem);

      flex-direction: column;
      align-items: center;
      margin-top: 1rem;
    }
  }

  &__name {
    color: $primary;
    font-style: italic;
    font-size: 2.66rem;
    line-height: 0.5em;

    @include respond-to(mobile) {
      font-size: 2rem;
    }
  }

  &__map {
    display: flex;
    width: 100%;
    margin: 0 auto;

    &--heading {
      margin-bottom: 2rem;
    }
  }

  &__description {
    columns: 2;
    column-gap: 2rem;

    @include respond-to(mobile) {
      columns: unset;
    }

    h3 {
      margin: 2em 0 0.5em;
    }

    p {
      margin: 1em 0 1em;
    }

    ul {
      list-style-type: disc;
    }

    &--section {
      /* The modern, standard property: */
      break-inside: avoid-column;

      /* Browser-prefixed versions for wider support: */
      -webkit-column-break-inside: avoid;
      -moz-column-break-inside: avoid;

      /* Also often used for pagination: */
      page-break-inside: avoid;
    }
  }

  &__columns {
    display: flex;
    gap: 3rem;
    align-items: stretch; // Ensures equal height
    justify-content: space-between;
    width: 100%;
    margin: 3rem 0;

    @include respond-to(mobile) {
      // width: 80%;
      padding: 0;
      justify-content: center;
    }
  }

  &__economic,
  &__metrics {
    flex: 1;
    padding: 0rem 1rem 2rem;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: auto;
  }

  .bottom-border {
    border-bottom: 2px solid $primary;
    display: flex;
    width: 100%;
  }

  ol {
    list-style: decimal-leading-zero;
    margin-left: 2em;
  }

  strong {
    color: $secondary;
  }

  // Make sure layout adjusts well on smaller screens
  @media (max-width: 900px) {
    &__header {
      width: 80%;

      &.bottom-border {
        // border: 0;
      }
    }

    &__columns {
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 1.5rem;
      margin-top: 1.5rem;
    }

    &__economic,
    &__metrics {
      width: 90%; // Full width on small screens
    }

    &__map {
      width: 100%; // Allow map to scale for mobile
    }

    .bottom-border {
      max-width: 100vw;
      padding: 0;
    }
  }
}
